.instructions {
  transition: visibility .5s, opacity .5s;

  &-content {
    transition: margin .5s;
    &.left {
      // margin-left: -25%;
      width: 25%;
      left: 25%;
    }

    &.right {
      // margin-right: -25%;
      width: 25%;
      left: 75%;
    }

    &-title {
      letter-spacing: .5rem;
      text-shadow: 1px 0px white;
    }

    .option {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        text-shadow: 1px 0px white;
      }
      button {
        white-space: nowrap;
        margin: 0;
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    width: 3rem;
    height: 3rem;
    background: rgba(240, 240, 150, .5);
    border-radius: 50%;
  }
}

@media screen and (max-width: 600px) {
  .instructions {
    &-content {
      &-title {
        margin-top: 3rem !important;
      }
    }
  }
}