.instructions {
  transition: visibility .5s, opacity .5s;

  &-content {

    .difficulty {
      h2 {
        text-align: center;
      }
      &-options {
        display: flex;
        button {
          margin: .5rem;
        }
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    width: 3rem;
    height: 3rem;
    background: rgba(240, 240, 150, .5);
    border-radius: 50%;
  }
}

// @media screen and (max-width: 600px) {
//   .instructions {
//     &-content {
//       &-title {
//         margin-top: 3rem !important;
//       }
//     }
//   }
// }