.footer {
  position: absolute;
  bottom: 0;
  left: 0;

  p {
    margin: 1rem !important;
    font-size: .75rem;
  }
  p, a {
    color: white;
    text-decoration: none;
  }

  a {
    text-shadow: .75px 0 white;
    letter-spacing: 1.5px;;
  }
}