$yellow1: rgb(206, 206, 16);
$yellow2: rgb(179, 169, 27);
$blue: rgb(14, 176, 179);


@font-face {
  font-family: 'Kanit';
  src: url('./assets/Kanit-Regular.ttf');
}
@font-face {
  font-family: 'Corn';
  src: url('./assets/CornDemo-Regular.ttf');
}


html, body {
  font-size: 16px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: 'Corn';
  overscroll-behavior-x: none;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  h1, h2, p { 
    margin: 0;
    padding: .25rem .5rem;
    line-height: 1.5rem;
  }

  h2 {
    padding: 1rem;
  }

  .instructionsToggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    padding: 0;
    border-radius: 50%;
    // border: 3px solid $yellow2;
    // background: $yellow1;
    // color: white;
    width: 3rem;
    height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
  }

  $dark-orange: #f56425;

  button {
    cursor: pointer;
    padding: .5rem 1rem;
    background: #ffda00;
    border-radius: .5rem;
    font-family: 'Corn';
    font-size: 1rem;
    border: 2px solid orange;
    color: $dark-orange;
    text-shadow: 1px 0 $dark-orange;
    box-shadow: 0 0 5px 5px rgb(8 136 25 / 25%);
    margin: 1rem;
  }
}