$yellow1: rgb(206, 206, 16);
$yellow2: rgb(179, 169, 27);
$yellow3: rgb(255, 218, 0);
$blue: rgb(14, 176, 179);
$dark-orange: #f56425;
$gray: rgb(180, 180, 180);
$black: rgb(10, 10, 10);
$teal: rgb(8 136 25 / 25%);


@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/RobotoMono-Regular.ttf');
}
@font-face {
  font-family: 'Corn';
  src: url('./assets/fonts/CornDemo-Regular.ttf');
}

@keyframes border-pulse {
  0%   { border: rgba(0, 255, 255, 1) !important; }
  50%  { border: rgba(0, 255, 255, 0) !important; }
  100% { border: rgba(0, 255, 255, 1) !important; }
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: 'Corn';
  font-size: 12px;
  overscroll-behavior-x: none;
}

.app {
  position: absolute;
  inset: 0;

  h1, h2, h3, p { 
    margin: 0;
    padding: 1rem;
  }

  h1 {
    letter-spacing: .5rem;
    text-shadow: 1px 0px white;
  }

  .hidden {
    visibility: hidden;
    opacity: 0;
  }

  .instructionsToggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    padding: 0;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    transition: visibility .5s, opacity .5s;
  }

  button {
    cursor: pointer;
    padding: .5rem 1rem;
    background: $yellow3;
    border-radius: .5rem;
    font-family: 'Corn';
    font-size: 1rem;
    border: 2px solid orange;
    color: $dark-orange;
    // text-shadow: 1px 0 $dark-orange;
    box-shadow: 0 0 5px 5px $teal;
    margin: 1rem;
    white-space: nowrap;

    img {
      position: absolute;
    }

    &.selected {
      // animation: border-pulse 2s infinite;
      border: 2px solid red;
    }
  }

  .modal {
    position: absolute;
    inset: 0;
    pointer-events: none;
    
    &-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: left .75s, top .75s;
      width: 26rem;
      max-width: 100%;
      pointer-events: initial;
     
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      color: white;
      background: rgba(105, 23, 14, 0.75);
      border: .5rem solid rgba(88, 13, 38, .7);
      border-radius: 1rem;
      padding: .5rem 1rem;
      box-shadow: 0 .5rem .25rem rgba(45, 12, 4, 0.5);

      &.left {
        left: 25%
      }
      &.right {
        left: 75%;
      }

      .graphic {
        position: absolute;
        width: 12rem;
        height: 12rem;
        top: -8rem;
        left: -4rem;
      }
    }
  }

  .numbers {
    font-family: 'Roboto';
    letter-spacing: .25rem;
    background: $gray;
    padding: 0 .25rem 0 .5rem;
    color: $black;
    border-radius: .3rem;
  }

  div[data-testid="joystick-base"] {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background: $yellow1 !important;

    button {
      // transition: transform .1s ease-in;
      background: $yellow2 !important;
      box-shadow: none;
    }
  }
}

.debug {
  position: absolute;
  top: 2rem;
  left: 0;
  display: flex;
  flex-direction: column;
}